* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  width: 100vw;
}

.user-input {
  width: 100%;
}

.my_head {
  display: flex;
}

.fa-rotate {
  margin-left: auto;
  margin-top: 1.6rem;
  margin-right: .7rem;
}

.remover {
  display: none;
}

.header_one {
  font-size: 1.5rem;
  font-weight: 200;
}

.txtTitle {
  border: none;
  font-size: 1.2rem;
  font-style: italic;
  display: flex;
  width: 80%;
  
}

.inputs {
  width: 100%;
  display: flex;
  padding: 1rem .7rem;
  border-top: 1px solid rgb(187, 180, 171);
}

.addBook {
  margin-left: auto;

}

.fa-arrow-left {
  color: rgb(187, 180, 171);
}

.newBook {
  display: flex;
}

.books-list {
  width: 100%;
}

.ausomFont {
  display: flex;
  margin-left: auto;
}

/* #trash {
  transform: translateY(-1000rem);
} */

.diactivate {
  position: relative;
  transform: translateY(-1000rem);
}

.active {
  position: relative;
  transform: translateY(0rem);
}

.recycle {
  position: relative;
  transform: translateY(-10000rem);

}

.tasks {
  font-weight: lighter;
  margin-left: .7rem;
  text-decoration: none;
  width: 25rem;
}

.tasks :active {
  font-weight: lighter;
  margin-left: .7rem;
  text-decoration: none;
  width: 25rem;
  border: 2px solid red;
}

.check_active {
  text-decoration-line: line-through;
  font-weight: lighter;
}

.check:checked + .tasks {
text-decoration-line: line-through;
font-weight: lighter;
}

.clear {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: lighter;
  padding-left: 37%;
  border-bottom: 1px solid rgb(187, 180, 171);
}

.clear a:hover{
  text-decoration: underline;
}























/* 
.navigator {
  border: 2px solid black;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  background-color: white;
}

.nav_list {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin-left: auto;
}

.nav_list .list {
  list-style-type: none;
  margin-left: 1.5rem;
  border-right: 2px solid black;
  padding-right: 2rem;
  cursor: pointer;
}

.nav_list .list:hover {
  color: rgb(69, 69, 243);
  text-decoration: underline;
}

a {
  text-decoration: none;
}

.section-1 {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  transform: translateY(-100%);
}

.mainheader {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.books-list {
  border: 2px solid black;
  margin-right: 10rem;
  margin-left: 10rem;
  padding: 0.4rem;
}

.section-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  transform: translateY(-100%);
}

.user-input {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_one {
  margin-bottom: 2rem;
  font-size: 2.3rem;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  border: 2px solid black;
  margin-top: 0.5rem;
  width: 20rem;
}

.addBook {
  margin-top: 0.5rem;
  width: 2rem;
  margin-left: auto;
  border: 2px solid black;
}

.section-3 {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  transform: translateY(-100%);
}

.contact_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 10rem;
  margin-left: 10rem;
  margin-top: 5rem;
}

.header_three {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2.5rem;
}

.para {
  text-align: center;
}

.address_list {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.active {
  transform: translateY(1.9rem);
  transition: all 0.4s ease-in-out;
}

.active_link {
  color: rgb(90, 90, 247);
}

.backgroundColor {
  background-color: rgb(230, 202, 202);
}

.remove {
  position: absolute;
  top: -1000px;
}

.title {
  font-size: 1rem;
}

.name {
  font-size: 1rem;
}



.remover {
  margin-left: auto;
  border: 2px solid black;
}

.spner {
  border: 1.5px solid black;
  width: 6rem;
  margin: 1rem 0;
}

.footer {
  border: 2px solid black;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  margin: 0.5rem;
  z-index: 1000;
  background-color: white;
  padding: 0.5rem;
}

.time {
  position: fixed;
  right: 0;
} */
