* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  width: 100vw;
}

.user-input {
  width: 100%;
}

.my_head {
  display: flex;
}

.fa-rotate {
  cursor: pointer;
  margin-left: auto;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  color: rgb(187, 180, 171);
}

.header_one {
  font-size: 1.5rem;
  font-weight: 200;
}

.txtTitle {
  border: none;
  font-size: 1.2rem;
  font-style: italic;
  display: flex;
  width: 80%;
}

.inputs {
  width: 100%;
  display: flex;
  padding: 1rem 0.7rem;
  border-top: 1px solid rgb(187, 180, 171);
}

.addBook {
  margin-left: auto;
}

.fa-arrow-left {
  color: rgb(187, 180, 171);
  cursor: pointer;
  margin-right: 0.5rem;
}

.newBook {
  display: flex;
}

.book_active {
  background-color: rgb(238, 219, 219);
}

.fa-trash-can {
  position: relative;
  transform: translateY(-1000rem);
}

.trash_active {
  cursor: pointer;
  transform: translateY(0);
  margin-right: 0.5rem;
}

.fa-ellipsis-vertical {
  cursor: pointer;
  position: relative;
  transform: translateY(0);
  color: rgb(187, 180, 171);
}

.drop_deactive {
  transform: translateY(-1000rem);
}

.books-list {
  width: 100%;
}

.ausomFont {
  display: flex;
  margin-left: auto;
}

/* #trash {
  transform: translateY(-1000rem);
} */

.diactivate {
  position: relative;
  transform: translateY(-1000rem);
}

.active {
  position: relative;
  transform: translateY(0);
}

.recycle {
  position: relative;
  transform: translateY(-10000rem);
}

.tasks {
  font-weight: lighter;
  margin-left: 0.7rem;
  text-decoration: none;
  width: 25rem;
}

.tasks :active {
  font-weight: lighter;
  margin-left: 0.7rem;
  text-decoration: none;
  width: 25rem;
}

.check_active {
  text-decoration-line: line-through;
  font-weight: lighter;
}

.check:checked + .tasks {
  text-decoration-line: line-through;
  font-weight: lighter;
}

.clear {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: lighter;
  padding-left: 37%;
  border-bottom: 1px solid rgb(187, 180, 171);
}
